*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
    font-family: 'Kumbh Sans', sans-serif;
    font-size:12px;
}
body{
    min-height:100vh;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:space-around;
    box-sizing: border-box;
    background-color: hsl(273, 75%, 66%);
}
.container{
    width:60%;
    height:500px;
    background-color: white;
    border-radius:30px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}
.container__main{
    height:100%;
    display:flex;
    justify-content: space-around;
}
.container__main-image{
    position:relative;
    flex-basis:50%;
    /* overflow:hidden; */
}
.container__main-image-patternImg{
    position:absolute;
    top:-10%;
    left:-50%;
    height:100%;
    animation:backgroundMove 4s linear infinite;
}
.women{
    position:absolute;
    top:10%;
    left:-30%;
    animation:backgroundMove 4s linear infinite;
}
.container__main-image-boxImg{
    position:absolute;
    top:50%;
    left:-30%;
    animation:boxMove 4s linear infinite;
    z-index:1;    
}
.container__main__description{
    display:flex;
    width:40%;
    flex-direction:column;
    justify-content: center;
}
.container__main__description .box,.container__main__description .faq{
    flex-grow:1;
}
.faq h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight:bold;
    margin:30px 30px 0 0;
}
.box{
    border-bottom:solid 1px hsl(240, 5%, 91%);
    margin-bottom:10px;
}
.box-item-add{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.box-item-add p{
    flex-grow:1;
}
.box-item-add p:hover{
    color:orange;
    cursor:pointer;
}
.box-item-describe{
    transform:scale(0);
}
.show{
    transform:scale(1);
    transition:.2s;
}
.rotate{
    transform:rotate(180deg);
    transition:.2s;
}
@keyframes backgroundMove{
    0%{
        transform:translateY(-25px);
    }
    50%{
        transform:translateY(25px);
    }
    100%{
        transform:translateY(-25px);
    }
}
@keyframes boxMove{
    0%{
        transform:translateX(0);
    }
    50%{
        transform:translateX(50px);
    }
    100%{
        transform:translateX(0);
    }
}
@media (max-width:1200px){
    .container__main{
        flex-direction:column;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }